* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

body {
  background-color: #212121;
}

header, main {
  padding: 0 3rem;
}

main {
  margin-top: 40vh;
}

a {
  cursor: pointer;
}

/* Navbar */

nav {
  padding: 2rem 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

nav ul a:hover {
  border-bottom: 2px solid white;
  margin-bottom: -1px;
}

/* Hero section */

.hero {
  background-image: linear-gradient(#24242451, rgba(0, 0, 0, 0.5)) , url("https://images.pexels.com/photos/373888/pexels-photo-373888.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 80vh;
  background-size: cover;
  object-fit: cover;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}

.hero h1 {
  font-family: 'Satisfy', cursive;
  font-weight: 200;
  font-size: 10rem;
  color: white;
  text-shadow: 3px 3px rgb(57, 57, 57);
}

.hero p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px black;
}

.hero a {
  background-color: rgb(192, 123, 38);
  font-weight: 600;
  font-size: large;
  text-decoration: none;
  color: white;
  padding: 0.7rem 3rem;
  border-radius: 2px;
  margin-top: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.hero a:hover {
  box-shadow: 0 0 5px white;
}

/* Hero cards */

.hero-cards {
  display: flex;
  justify-content: center;
  gap: 5rem;
  position: absolute;
  bottom: -160px;
  left: 30rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #151515;
  width: 250px;
  height: 300px;
  border: 1px solid rgb(248, 193, 126);
  color: white;
}

.card span {
  text-align: center;
  margin-bottom: 1rem;
}

.card a {
  text-decoration: none;
  color: rgb(248, 193, 126);
}

.card a:hover {
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}

/* Quality section */

.quality-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.benefits {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 0.5rem;
}

.benefits h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.benefits-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

.benefits-card h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.benefits-card div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
}

.moments {
  background-image: linear-gradient(#24242451, rgba(0, 0, 0, 0.5)) , url("https://images.pexels.com/photos/3020919/pexels-photo-3020919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  object-fit: cover;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.moments h1 {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-size: 3.5rem;
  color: white;
  text-shadow: 3px 3px rgb(57, 57, 57);
}

.moments span {
  color: rgb(248, 193, 126);
  text-shadow: 2px 2px rgb(57, 57, 57);
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 1rem;
}

.quote {
  background-image: linear-gradient(#24242451, rgba(0, 0, 0, 0.5)) , url("https://images.pexels.com/photos/1695052/pexels-photo-1695052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  object-fit: cover;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  border-radius: 1rem;
}

.quote p {
  max-width: 900px;
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin: 2rem 0;
  text-shadow: 2px 2px rgb(57, 57, 57);
}

.quote span {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(248, 193, 126);
  font-size: x-large;
}

/* Menu section */

#menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.menu-container h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.menu-card {
  display: flex;
  background-color: #151515;
  border-radius: 1rem;
  margin: 3rem 0;
}

.menu-picture {
  background-image: linear-gradient(#24242451, rgba(0, 0, 0, 0.5)) , url("https://images.pexels.com/photos/2568452/pexels-photo-2568452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  object-fit: cover;
  width: 500px;
  height: 500px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 0 3rem;
}

.pricing div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: large;
}

.dollar {
  color: rgb(151, 151, 151);
}

.stats-container {
  display: flex;
  gap: 1.5rem;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* News section */

#news {
  height: 100vh;
}

.news-container h1, h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
}

.news-container h2 {
  font-size: large;
  margin-bottom: 3rem;
}

.news-card {
  transition: 0.3s;
  padding: 1rem;
  opacity: 0.8;
}

.news-card:hover {
  cursor: pointer;
  box-shadow: 0 30px 60px 0 #151515;
}

.news-card img {
  height: 400px;
}

.news-description {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #151515;
  padding: 0.5rem 1rem;
  text-align: center;
  gap: 0.5rem;
}